@import "bootstrap/dist/css/bootstrap.min.css";

img.ffd-logo {
    width: auto;
    max-height: 40px;
}
@media (min-width: 992px) {
    img.ffd-logo {
        max-height: 56px;
    }
}

section {
    margin: 64px 0;
}

section.building-block {
    padding-top: 16px;
}
section.building-block ul {
    padding: 16px 0 0 0;
}
section.building-block ul li {
    list-style-type: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 24px 24px;
    transform: rotate(-4deg);
}
section.building-block ul li.gold {
    background-color: #ceb13f;
}
section.building-block ul li.silver {
    background-color: #D0D0D0;
}
section.building-block ul li.bronze {
    background-color: #c7964c;
}

section.bank-details table td:first-of-type {
    text-align: right;

}
section.bank-details table td:last-of-type {
    padding-left: 5px;
    font-weight: bold;
}

section.qr-codes div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 48px;
}

section h3 {
    margin-top: 42px;
}
ul.grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 24px;
    list-style-type: none;
}
ul.grid li {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 200;
    text-align: center;
    border-radius: 5px;
}
ul.grid.gold li {
    background-color: #ceb13f;
}
ul.grid.silver li {
    background-color: #D0D0D0;
}
ul.grid.bronze li {
    background-color: #c7964c;
}
